html {
	font-size: 100%;
}
body {
	color: #3a4145;

	/*font-family: 'Noto Serif', serif;*/
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 100%;
}

p {
	line-height: 1.5em;
}
h1 {
	line-height: 1.3;
}

.clear {
	border-bottom: 1px solid #e5e5e5;

	margin-top: 1.5rem;
	margin-bottom: 0.8rem;

	width: 100%;
}

#header {
	max-width: 52rem;
}
#header .title {
	color: #3a4145;

	display: inline-block;

	font-size: 3.125rem;
	margin-top: 10px;
}
#header .link a {
	color: #3a4145;

	cursor: pointer;

	font-size: 1.875rem;
}
#header .link a:not(:first-child) {
	margin-left: 0.9375rem;
}
#header .link a:hover {
	color: black;
}
#header img {
	width: 175px;
	position: absolute;
	border-radius: 100px;
}

#footer {
	height: 10rem;
}

#main {
	max-width: 52rem;
}

.table-of-contents ul {
	list-style: none;

	padding-left: 0;
}

.table-of-contents li a {
	color: #3a4145;

	text-decoration: none;
}

.table-of-contents li a span:nth-child(2) {
	float: right;
}

.post-content img {
	max-width: 80%;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

.post-content img.no-mg {
	margin-top: 0;
}

.center-image {
	margin: 0 auto;
	display: block;
}

#markdown-toc {
	list-style: none;
	padding: 0;
}