<div id="header" class="container">
	<div class="row" style="padding-top: 32px; padding-bottom: 32px;">
		<div class="col-sm-3" style="padding-left: 0px;">
			<img src="/assets/KhoiPham_ProfilePic.jpg"/>
		</div>
		<div class="col-sm-9">
			<a href="/">
				<h1 class="font-bold title">Khoi Viet Pham</h1>
			</a>
			<p>
				<span>University of Maryland, College Park</span>
				<br/>
				<span>khoi [at] cs [dot] umd [dot] edu</span>
				<br/>
				<!-- <a href="/assets/KhoiPham_Resume.pdf">Resume</a> -->
			</p>
		</div>
	</div>
	<br/>
	<div class="row">
		<p>
			I am a Ph.D. student in the Department of Computer Science at the University of Maryland, College Park, advised by <a href="https://www.cs.umd.edu/~abhinav/">Prof. Abhinav Shrivastava</a>. My research focuses on semantic understanding of objects, which includes recognizing an object's instrinsic attributes and its extrinsic relationships with other objects. Accordingly, downstream computer vision tasks such as image-text retrieval, object selection using natural language, can be improved with strong object semantic understanding.
		</p>
		<p>
			I previously obtained my B.Sc. in Computer Science from Vietnam National University - University of Science, HCMC, Vietnam. In my undergraduate study, I worked on 3D object retrieval, human-computer interaction, optical music recognition with <a href="https://scholar.google.com/citations?user=lt2ATkkAAAAJ&hl=en&oi=ao">Prof. Minh-Triet Tran</a>.
		</p>
	</div>
	<div class="row">
		<!-- <div class="link">
			<a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-file-text" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/pvkhoi/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div> -->
		<a href="https://scholar.google.com/citations?user=o7hS8EcAAAAJ&hl=en">google scholar</a> / <a href="https://www.linkedin.com/in/pvkhoi/">linkedin</a>
	</div>
	<div class="row clear">
	</div>
</div>