<div id="header" class="container">
	<div class="row" style="padding-top: 32px; padding-bottom: 32px;">
		<div class="col-sm-3" style="padding-left: 0px;">
			<img src="/assets/KhoiPham_ProfilePic.jpg"/>
		</div>
		<div class="col-sm-9">
			<a href="/">
				<h1 class="font-bold title">Khoi Viet Pham</h1>
			</a>
			<p>
				<span>Ph.D. student, University of Maryland, College Park</span>
				<br/>
				<span>khoi [at] cs [dot] umd [dot] edu</span>
				<br/>
				<a href="/assets/KhoiPham_Resume.pdf">Resume</a>
			</p>
		</div>
	</div>
	<div class="row">
		<p>
			I am a 2nd year Ph.D. student in the Department of Computer Science at the University of Maryland, College Park, advised by <a href="https://www.cs.umd.edu/people/lsdavis">Prof. Larry S. Davis</a>. My research interest lies in computer vision and deep learning. Currently, I'm exploring using active learning to train deep neural networks.
		</p>
		<p>
			I previously obtained my B.S. in Computer Science from the Vietnam National University - University of Science, HCMC, Vietnam. In my undergraduate study, I did research on 3D object retrieval, human-computer interaction, optical music recognition under the supervision of <a href="http://www.fit.hcmus.edu.vn/~tmtriet/">Prof. Minh-Triet Tran</a>.
		</p>
	</div>
	<!-- <div class="row">
		<div class="link">
			<a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-file-text" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/pvkhoi/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</div> -->
	<div class="row clear">
	</div>
</div>